<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Categoria</title>
</head>
<body>

<br><h1>Ingresar Categoria</h1><br>

<form th:action="@{/ingresarCategoria}" th:object="${categoria}" method="post">

	<input type="hidden" th:field="*{codigoCategoria}">
		
	<label>Nombre categoria: </label><br>
	<input type="text" th:field="*{categoria}" size="40" placeholder="nombre">
	<span th:errors ="*{categoria}" style = "color: #E81505;"></span><br>
	
	<label>Categoria ingresada con exito</label>
	<input type="submit" value="Guardar Categoria">
</form>

</body>
</html>